.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container1{
    background-color: antiquewhite;
}
.cont1{
    position: relative;
   font-size: 22px;
   text-align: center;
}
.cont3{
    color: blue;
    }
   
.img1{
    width: 200px;
    height: 200px;
   }
   .cont2c{
    color: rebeccapurple;
    font-size: 150px;
  
    }
    .cont1t{
        position: relative;
       font-size: 20px;
       text-align: center;
    }
    .nav2{
        font-size: 20px;
        color: white;
    }
    .link{
        font-size:x-large;
        color: violet;
        text-decoration: none;
    }